<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Whatsapp mini</h1>
    <h2>Create New Chat</h2>
    <div class="form">
        <form method="POST" action="/chats">
            <input type="text" name="to" placeholder="reciever's name..."><br><br>
            <input type="text" name="from" placeholder="sender's name..."><br><br>
            <textarea name="msg">type your message here...</textarea><br><br>
            <button>Done</button>
        </form>
    </div>
</body>
</html>